.hidden {
  display: none!important;
}

* {
  text-align: center;
  box-sizing: border-box;
}

body {
  min-width: 768px;
  max-width: 900px;
  height: 100%;
  margin-top: 50px;
  display: inline-block;
  background-image: url("https://media.giphy.com/media/SpHGOPeYkb5ao/giphy.gif?response_id=59217978243f5ad49db0422f");
}

header {
  min-width: 768px;
  max-width: 900px;
  height: 100%;
  margin-bottom: 50px;
  background-color: rgb(255, 153, 255);
  opacity: 0.75;
  border-radius: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  h1 {
    font-family: 'Bungee Outline', cursive;
    font-weight: bold;
    font-size: 50px;
  }
}

div #instructions {
  width: 75%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-family: 'Ubuntu Mono', monospace;
  p {
    font-size: 20px;
  }
  button {
    margin-bottom: 20px;
  }
}

.form {
  form {
    background-color: rgb(255, 255, 255);
    width: 75%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
    font-family: 'Ubuntu Mono', monospace;
  }
  h1 {
    font-family: 'Baloo Bhaina', cursive;
    background-color: rgb(194, 194, 214);
    width: 75%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  input {
    margin: 15px auto;
  }
  input[type=button] {
    font-size: 15px;
    border-radius: 5px;
  }
  h2 {
    font-family: 'Baloo Bhaina', cursive;
    color: rgb(255, 255, 255);
    height: 30px;
  }
}

div #placeImage {
  width: 75%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  font: 22px;
  padding-top: 20px;
  padding-bottom: 20px;
  img {
    margin-top: 28px;
  }
  button {
    margin-top: 20px;
  }
}

div #game-over {
  width: 75%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-family: 'Ubuntu Mono', monospace;
  button {
    margin-bottom: 20px;
    margin-top: 30px;
  }
}

div #win {
  width: 75%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-family: 'Ubuntu Mono', monospace;
}


footer {
  background-color: rgb(255, 153, 255);
  opacity: 0.75;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: 'Baloo Bhaina', cursive;
  text-transform: uppercase;
  font-size: 24px;
  border-radius: 15px;
  height: 100%;
  p {
    display: inline-block;
  }
}


h3:hover {
  font-size: 150%;
  font-weight: bold;
}
