* {
  text-align: center;
  box-sizing: border-box;
}

body {
  background-color: blue;
  min-width: 768px;
  max-width: 900px;
  display: inline-block;
}

header {
  background-color: white;
}

.form {
  form {
    background-color: white;
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
  }
  h1 {
    background-color: grey;
    width: 50%;
    margin: 0 auto;
  }
  input {
    margin: 15px auto;
  }
}

footer {
  background-color: white;
}
